In [1]:
import pandas as pd
import numpy as np

In [3]:
file_one = "Data/museum-collection/artists.csv"
file_two = "Data/museum-collection/artworks.csv"

In [4]:
artists = pd.read_csv(file_one)

In [5]:
artists.head(50)

,Artist ID,Name,Nationality,Gender,Birth Year,Death Year
0,1,Robert Arneson,American,Male,1930.0,1992.0
1,2,Doroteo Arnaiz,Spanish,Male,1936.0,NaN
2,3,Bill Arnold,American,Male,1941.0,NaN
3,4,Charles Arnoldi,American,Male,1946.0,NaN
4,5,Per Arnoldi,Danish,Male,1941.0,NaN
5,6,Danilo Aroldi,Italian,Male,1925.0,NaN
6,7,Bill Aron,American,Male,1941.0,NaN
7,9,David Aronson,American,Male,1923.0,NaN
8,10,Irene Aronson,American,Female,1918.0,NaN
9,11,Jean (Hans) Arp,French,Male,1886.0,1966.0
10,12,Jüri Arrak,Estonian,Male,1936.0,NaN
11,13,J. Arrelano Fischer,Mexican,Male,1911.0,1995.0
12,15,Folke Arstrom,Swedish,Male,1907.0,1997.0
13,16,Cristobal Arteche,Spanish,Male,1900.0,1964.0
14,18,Artko,NaN,NaN,NaN,NaN
15,19,Richard Artschwager,American,Male,1923.0,2013.0
16,21,Ruth Asawa,American,Female,1926.0,2013.0
17,22,Isidora Aschheim,Israeli,Female,NaN,NaN
18,23,Charles Robert Ashbee,British,Male,1863.0,1942.0
19,24,Donald Ashcraft,American,Male,1927.0,NaN
20,25,E. M. Ashe,American,Male,1867.0,1941.0
21,26,Göran Åslin,Swedish,NaN,1940.0,NaN
22,27,Erik Gunnar Asplund,Swedish,Male,1885.0,1940.0
23,28,Geneviève Asse,French,Female,1923.0,NaN
24,30,Sergio Asti,Italian,Male,1926.0,NaN
25,31,Dana Atchley,American,Female,1941.0,2000.0
26,32,Atelier Eggers,French,NaN,NaN,NaN
27,33,A.A.P.,American,NaN,NaN,NaN
28,34,Alvar Aalto,Finnish,Male,1898.0,1976.0
29,35,Aino Aalto,Finnish,Female,1894.0,1949.0
30,36,Eero Aarnio,Finnish,Male,1932.0,NaN
31,37,Jules Aarons,American,Male,1921.0,2008.0
32,38,Magdalena Abakanowicz,Polish,Female,1930.0,NaN
33,39,James Abbe,American,Male,1883.0,1973.0
34,40,Jussuff Abbo,British,Male,1888.0,1953.0
35,41,Berenice Abbott,American,Female,1898.0,1991.0
36,42,Nobuya Abe,Japanese,Male,1913.0,1971.0
37,43,Abe Shiro (pen Name: Suichiku),Japanese,Male,1900.0,NaN
38,44,Robert Abel,American,Male,1937.0,NaN
39,46,Sigmund Abeles,American,Male,1934.0,NaN
40,47,Raimund Abraham,American,Male,1933.0,2010.0
41,49,Ivor Abrahams,British,Male,1935.0,NaN
42,50,Gerald Abramovitz,British,Male,1928.0,2011.0
43,51,William Ross Abrams,American,Male,1920.0,2007.0
44,52,Rodolfo Abularach,Guatemalan,Male,1933.0,NaN
45,53,Vito Acconci,American,Male,1940.0,NaN
46,54,Milton Ackoff,American,Male,1915.0,NaN
47,55,Norman Ackroyd,British,Male,NaN,NaN
48,56,Luis Alberto Acuña,Colombian,Male,1904.0,1994.0
49,57,Henri Georges Adam,French,Male,1904.0,1967.0

In [10]:
# Replacing Nan in Death Year with Alive status
artists["Death Year"] = artists["Death Year"].fillna("Alive")
artists

,Artist ID,Name,Nationality,Gender,Birth Year,Death Year
0,1,Robert Arneson,American,Male,1930.0,1992
1,2,Doroteo Arnaiz,Spanish,Male,1936.0,Alive
2,3,Bill Arnold,American,Male,1941.0,Alive
3,4,Charles Arnoldi,American,Male,1946.0,Alive
4,5,Per Arnoldi,Danish,Male,1941.0,Alive
5,6,Danilo Aroldi,Italian,Male,1925.0,Alive
6,7,Bill Aron,American,Male,1941.0,Alive
7,9,David Aronson,American,Male,1923.0,Alive
8,10,Irene Aronson,American,Female,1918.0,Alive
9,11,Jean (Hans) Arp,French,Male,1886.0,1966
10,12,Jüri Arrak,Estonian,Male,1936.0,Alive
11,13,J. Arrelano Fischer,Mexican,Male,1911.0,1995
12,15,Folke Arstrom,Swedish,Male,1907.0,1997
13,16,Cristobal Arteche,Spanish,Male,1900.0,1964
14,18,Artko,NaN,NaN,NaN,Alive
15,19,Richard Artschwager,American,Male,1923.0,2013
16,21,Ruth Asawa,American,Female,1926.0,2013
17,22,Isidora Aschheim,Israeli,Female,NaN,Alive
18,23,Charles Robert Ashbee,British,Male,1863.0,1942
19,24,Donald Ashcraft,American,Male,1927.0,Alive
20,25,E. M. Ashe,American,Male,1867.0,1941
21,26,Göran Åslin,Swedish,NaN,1940.0,Alive
22,27,Erik Gunnar Asplund,Swedish,Male,1885.0,1940
23,28,Geneviève Asse,French,Female,1923.0,Alive
24,30,Sergio Asti,Italian,Male,1926.0,Alive
25,31,Dana Atchley,American,Female,1941.0,2000
26,32,Atelier Eggers,French,NaN,NaN,Alive
27,33,A.A.P.,American,NaN,NaN,Alive
28,34,Alvar Aalto,Finnish,Male,1898.0,1976
29,35,Aino Aalto,Finnish,Female,1894.0,1949
...,...,...,...,...,...,...
15061,67323,Greta Schiller,American,NaN,1954.0,Alive
15062,67325,Carlos Saura,Spanish,NaN,1932.0,Alive
15063,67326,Tessie Chua,American,NaN,1949.0,Alive
15064,67327,Alexa Hunter,American,NaN,1957.0,Alive
15065,67328,Jonathan Quinn,American,NaN,1956.0,Alive
15066,67329,Rudi Protrudi,American,NaN,1952.0,Alive
15067,67330,Bill Harris,American,NaN,1958.0,Alive
15068,67331,Anney Bonney,American,NaN,NaN,Alive
15069,67332,Glenn Andreiev,American,NaN,1961.0,Alive
15070,67333,Manfred Blank,German,NaN,1949.0,Alive
15071,67334,Kevin Asch,American,NaN,1975.0,Alive
15072,67336,Cal Dalton,American,NaN,1908.0,1974
15073,67337,Cal Howard,American,NaN,1911.0,1993
15074,67340,M. Henry Jones,American,NaN,1957.0,Alive
15075,67342,Mannie Davis,NaN,NaN,NaN,Alive
15076,67345,George Haas,American,NaN,1953.0,Alive
15077,67346,Jimmy Murray,NaN,NaN,NaN,Alive
15078,67349,Julius Klein,American,NaN,1951.0,Alive
15079,67350,Howard Guttenplan,American,NaN,1934.0,2015
15080,67352,Neelon Crawford,American,NaN,1946.0,Alive
15081,67353,Michael Mideke,NaN,NaN,NaN,Alive
15082,67379,N. Dash,American,Female,1980.0,Alive
15083,67420,Walter Burley Griffin,NaN,NaN,NaN,Alive
15084,67437,Sebastian Black,American,Male,1985.0,Alive
15085,67451,Xiao Yu,Chinese,Male,1965.0,Alive
15086,67452,Liu Jianhua,Chinese,Male,1962.0,Alive
15087,67453,Leng Lin,Chinese,Male,1965.0,Alive
15088,67652,Ellie Nagler,NaN,NaN,NaN,Alive
15089,67694,Glenn Williams,NaN,Male,NaN,Alive
15090,67695,Ely Ramen,NaN,NaN,NaN,Alive

In [12]:
# Setting the index to the Name of the Artist
artists.set_index("Name")

                       Artist ID Nationality  Gender  Birth Year Death Year
Name
Robert Arneson                 1    American    Male      1930.0       1992
Doroteo Arnaiz                 2     Spanish    Male      1936.0      Alive
Bill Arnold                    3    American    Male      1941.0      Alive
Charles Arnoldi                4    American    Male      1946.0      Alive
Per Arnoldi                    5      Danish    Male      1941.0      Alive
Danilo Aroldi                  6     Italian    Male      1925.0      Alive
Bill Aron                      7    American    Male      1941.0      Alive
David Aronson                  9    American    Male      1923.0      Alive
Irene Aronson                 10    American  Female      1918.0      Alive
Jean (Hans) Arp               11      French    Male      1886.0       1966
Jüri Arrak                    12    Estonian    Male      1936.0      Alive
J. Arrelano Fischer           13     Mexican    Male      1911.0       1995
Folke Arstrom                 15     Swedish    Male      1907.0       1997
Cristobal Arteche             16     Spanish    Male      1900.0       1964
Artko                         18         NaN     NaN         NaN      Alive
Richard Artschwager           19    American    Male      1923.0       2013
Ruth Asawa                    21    American  Female      1926.0       2013
Isidora Aschheim              22     Israeli  Female         NaN      Alive
Charles Robert Ashbee         23     British    Male      1863.0       1942
Donald Ashcraft               24    American    Male      1927.0      Alive
E. M. Ashe                    25    American    Male      1867.0       1941
Göran Åslin                   26     Swedish     NaN      1940.0      Alive
Erik Gunnar Asplund           27     Swedish    Male      1885.0       1940
Geneviève Asse                28      French  Female      1923.0      Alive
Sergio Asti                   30     Italian    Male      1926.0      Alive
Dana Atchley                  31    American  Female      1941.0       2000
Atelier Eggers                32      French     NaN         NaN      Alive
A.A.P.                        33    American     NaN         NaN      Alive
Alvar Aalto                   34     Finnish    Male      1898.0       1976
Aino Aalto                    35     Finnish  Female      1894.0       1949
...                          ...         ...     ...         ...        ...
Greta Schiller             67323    American     NaN      1954.0      Alive
Carlos Saura               67325     Spanish     NaN      1932.0      Alive
Tessie Chua                67326    American     NaN      1949.0      Alive
Alexa Hunter               67327    American     NaN      1957.0      Alive
Jonathan Quinn             67328    American     NaN      1956.0      Alive
Rudi Protrudi              67329    American     NaN      1952.0      Alive
Bill Harris                67330    American     NaN      1958.0      Alive
Anney Bonney               67331    American     NaN         NaN      Alive
Glenn Andreiev             67332    American     NaN      1961.0      Alive
Manfred Blank              67333      German     NaN      1949.0      Alive
Kevin Asch                 67334    American     NaN      1975.0      Alive
Cal Dalton                 67336    American     NaN      1908.0       1974
Cal Howard                 67337    American     NaN      1911.0       1993
M. Henry Jones             67340    American     NaN      1957.0      Alive
Mannie Davis               67342         NaN     NaN         NaN      Alive
George Haas                67345    American     NaN      1953.0      Alive
Jimmy Murray               67346         NaN     NaN         NaN      Alive
Julius Klein               67349    American     NaN      1951.0      Alive
Howard Guttenplan          67350    American     NaN      1934.0       2015
Neelon Crawford            67352    American     NaN      1946.0      Alive
Michael Mideke             67353         NaN     NaN         NaN      Alive
N. Dash                    67379    American  Female      1980.0      Alive
Walter Burley Griffin      67420         NaN     NaN         NaN      Alive
Sebastian Black            67437    American    Male      1985.0      Alive
Xiao Yu                    67451     Chinese    Male      1965.0      Alive
Liu Jianhua                67452     Chinese    Male      1962.0      Alive
Leng Lin                   67453     Chinese    Male      1965.0      Alive
Ellie Nagler               67652         NaN     NaN         NaN      Alive
Glenn Williams             67694         NaN    Male         NaN      Alive
Ely Ramen                  67695         NaN     NaN         NaN      Alive

[15091 rows x 5 columns]

In [13]:
artists.to_csv("new_artists.csv", sep=",")

In [27]:
# Cleaning Artworks csv
file_two_df = pd.read_csv(file_two)
file_two_df.head()

,Artwork ID,Title,Artist ID,Name,Date,Medium,Dimensions,Acquisition Date,Credit,Catalogue,...,Classification,Object Number,Diameter (cm),Circumference (cm),Height (cm),Length (cm),Width (cm),Depth (cm),Weight (kg),Duration (s)
0,2,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",6210,Otto Wagner,1896,Ink and cut-and-pasted painted pages on paper,"19 1/8 x 66 1/2"" (48.6 x 168.9 cm)",1996-04-09,Fractional and promised gift of Jo Carole and ...,Y,...,Architecture,885.1996,NaN,NaN,48.6000,NaN,168.9000,NaN,NaN,NaN
1,3,"City of Music, National Superior Conservatory ...",7470,Christian de Portzamparc,1987,Paint and colored pencil on print,"16 x 11 3/4"" (40.6 x 29.8 cm)",1995-01-17,Gift of the architect in honor of Lily Auchinc...,Y,...,Architecture,1.1995,NaN,NaN,40.6401,NaN,29.8451,NaN,NaN,NaN
2,4,"Villa near Vienna Project, Outside Vienna, Aus...",7605,Emil Hoppe,1903,"Graphite, pen, color pencil, ink, and gouache ...","13 1/2 x 12 1/2"" (34.3 x 31.8 cm)",1997-01-15,Gift of Jo Carole and Ronald S. Lauder,Y,...,Architecture,1.1997,NaN,NaN,34.3000,NaN,31.8000,NaN,NaN,NaN
3,5,"The Manhattan Transcripts Project, New York, N...",7056,Bernard Tschumi,1980,Photographic reproduction with colored synthet...,"20 x 20"" (50.8 x 50.8 cm)",1995-01-17,Purchase and partial gift of the architect in ...,Y,...,Architecture,2.1995,NaN,NaN,50.8000,NaN,50.8000,NaN,NaN,NaN
4,6,"Villa, project, outside Vienna, Austria, Exter...",7605,Emil Hoppe,1903,"Graphite, color pencil, ink, and gouache on tr...","15 1/8 x 7 1/2"" (38.4 x 19.1 cm)",1997-01-15,Gift of Jo Carole and Ronald S. Lauder,Y,...,Architecture,2.1997,NaN,NaN,38.4000,NaN,19.1000,NaN,NaN,NaN

In [16]:
# Removing unneccesary columns
artworks = file_two_df[["Artwork ID", "Title", "Artist ID", "Name", "Date", 
                       "Medium", "Dimensions", "Acquisition Date", "Classification", 
                       "Object Number"]]
artworks.head()

,Artwork ID,Title,Artist ID,Name,Date,Medium,Dimensions,Acquisition Date,Classification,Object Number
0,2,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",6210,Otto Wagner,1896,Ink and cut-and-pasted painted pages on paper,"19 1/8 x 66 1/2"" (48.6 x 168.9 cm)",1996-04-09,Architecture,885.1996
1,3,"City of Music, National Superior Conservatory ...",7470,Christian de Portzamparc,1987,Paint and colored pencil on print,"16 x 11 3/4"" (40.6 x 29.8 cm)",1995-01-17,Architecture,1.1995
2,4,"Villa near Vienna Project, Outside Vienna, Aus...",7605,Emil Hoppe,1903,"Graphite, pen, color pencil, ink, and gouache ...","13 1/2 x 12 1/2"" (34.3 x 31.8 cm)",1997-01-15,Architecture,1.1997
3,5,"The Manhattan Transcripts Project, New York, N...",7056,Bernard Tschumi,1980,Photographic reproduction with colored synthet...,"20 x 20"" (50.8 x 50.8 cm)",1995-01-17,Architecture,2.1995
4,6,"Villa, project, outside Vienna, Austria, Exter...",7605,Emil Hoppe,1903,"Graphite, color pencil, ink, and gouache on tr...","15 1/8 x 7 1/2"" (38.4 x 19.1 cm)",1997-01-15,Architecture,2.1997

In [20]:
# Data Cleaning
artworks.count()

Artwork ID          130262
Title               130210
Artist ID           128802
Name                128802
Date                127950
Medium              118343
Dimensions          118799
Acquisition Date    124799
Classification      130262
Object Number       130262
dtype: int64

In [21]:
artworks = artworks.dropna(how='any')
artworks.count()

Artwork ID          102666
Title               102666
Artist ID           102666
Name                102666
Date                102666
Medium              102666
Dimensions          102666
Acquisition Date    102666
Classification      102666
Object Number       102666
dtype: int64

In [35]:
artworks = artworks.set_index('Name')
artworks.head()

,Artwork ID,Title,Date,Medium,Dimensions,Acquisition Date,Classification,Object Number
Name,,,,,,,,
Otto Wagner,2,"Ferdinandsbrücke Project, Vienna, Austria, Ele...",1896,Ink and cut-and-pasted painted pages on paper,"19 1/8 x 66 1/2"" (48.6 x 168.9 cm)",1996-04-09,Architecture,885.1996
Christian de Portzamparc,3,"City of Music, National Superior Conservatory ...",1987,Paint and colored pencil on print,"16 x 11 3/4"" (40.6 x 29.8 cm)",1995-01-17,Architecture,1.1995
Emil Hoppe,4,"Villa near Vienna Project, Outside Vienna, Aus...",1903,"Graphite, pen, color pencil, ink, and gouache ...","13 1/2 x 12 1/2"" (34.3 x 31.8 cm)",1997-01-15,Architecture,1.1997
Bernard Tschumi,5,"The Manhattan Transcripts Project, New York, N...",1980,Photographic reproduction with colored synthet...,"20 x 20"" (50.8 x 50.8 cm)",1995-01-17,Architecture,2.1995
Emil Hoppe,6,"Villa, project, outside Vienna, Austria, Exter...",1903,"Graphite, color pencil, ink, and gouache on tr...","15 1/8 x 7 1/2"" (38.4 x 19.1 cm)",1997-01-15,Architecture,2.1997

In [42]:
artworks.to_csv("new_artworks.csv", sep=",")